<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.ketkigrag.androidappbundles.ondemand">

    <dist:module
            dist:onDemand="true"
            dist:instant="false"
            dist:title="@string/module_dynamic_feature2_name">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name="com.ketkigrag.androidappbundles.ondemand.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>